<% include partials/header %>





<div class="container">
    <header class="jumbotron">
        <div class="container">
                <h1>Here are the images</h1>
                <a class="btn-primary btn-lg" href="/campgrounds/new">Add more images</a>
                
        </div>
    </header>
    
    <div "row" style="display: flex;   
  flex-wrap: wrap;">
        <% campgrounds.forEach(function (campground){%>
        
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%=campground.image%>">
                <div class="caption">
                    <h4><%=campground.name%></h4>
                    </div>
           </div>
           <a href="campgrounds/<%=campground._id%>" class="btn btn-primary">More info</a>
    </div>
       <% })%> 
</div>






<% include partials/footer %>