<% include partials/header %>


<h1>Hola mis amiguitos</h1>

<p><%=campground.name%></p>
<img src="<%=campground.image%>">
<p><%=campground.description%></p>


<a href="/campgrounds">Return to campground</a>

<% include partials/footer %>